body{
    margin-top: 70px;
    background-image: url("./full-bloom.png");
    padding-bottom: 100px;
}
h1,h3,h4,h5{
    font-family: 'Nanum Gothic', sans-serif;
}
h2,h6{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 4px;
}

/* Home Page */
.navbar {
    height: 70px;
}
.jumbotron {
    background-color: #c5c5c5;
    color: black;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    position: relative;
    top: 10px;
}
.jumnbotron-avatar{
    position: absolute;
    left: 20px;
    top: 20px;
}
.display-4{
    font-family: 'Cuprum', sans-serif;
}
.lead{
    font-size: 18px;
} 
#linkToProjects {
    font-size: 18px;
    color: rgb(15, 15, 15)
}
#linkToProjects:hover {
    color: whitesmoke;
    text-decoration: none;
}
.search-container {
    float: right;
    position: relative;
    right: 100px;
    bottom: 20px;
}
.searchBar-title {
    color: white;
    position: relative;
    right: 160px;
    top: 35px;
}
#character-search {
    width: 80%;
    height: 30px;
}
#search-btn {
    background-color: #18a0ac;
    font-size: 13px;
    position: absolute;
    top: 30px;
    left: 170px;
    width: 80px;
    height: 35px;
}
#search-btn:hover {
    width: 83px;
    height: 38px;
}
.topFiveProjects{
    background-color: whitesmoke;
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #343a40;
    border-radius: 4px;
    list-style-type: none
}
/*-----------*/

/* Pages Title */
.subTitle {
    text-align: left;
    margin-top: 20px;
}
/*-------------*/
.wrapper{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
    color: gainsboro;
    background-color: #373c42;
}
/* OAuth login buttons */
#gitHubLoginBtn{
    clear: both;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgb(22, 20, 20);
    color: whitesmoke;
    width: 20%;
  }
#gitHubLoginBtn:hover{
    background-color:rgb(43, 38, 38);
  }
#googleLogInBtn{
    clear: both;
    display: block;
    margin: 0 auto;
    background-color: rgb(221, 75, 57);
    color: whitesmoke;
    width: 20%;
    margin-bottom: 100px;
  }
#googleLogInBtn:hover{
    background-color: rgb(187, 55, 37);
  }
/* ---------------------------*/
/* Form  Flexbox*/
.flexBox{
    display: grid;
    grid-template-columns: auto auto;
}
.RegisterForm{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #eceff3;
}
.loginForm{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #eceff3; 
}
/* ---------------------------*/
/* Nav Links  */
.favoritesLink{
    margin-top: 7px;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}
.favoritesLink:hover{
    background-color: #202224;
    color: whitesmoke;
    text-decoration: none;
}
.avatarDropdown{
    position: relative;
    float: right;
    left: 350px;
    top: 0;
    right: 0;
}
#avatar{
    border-radius: 50%;
    height: 40px;
}
.homeLink{
    margin-top: 6px;
}
.dropdown-toggle::after{
    display: none;
}
.projectsDropdown{
    position: relative;
    display: inline-block;
}
.dropBtn{
    background-color: #373c42;
    color: whitesmoke;
    padding: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    border: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content .dropLinks{
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}
.projectsDropdown:hover .dropBtn{
    background-color: #202224
}
.projectsDropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content .dropLinks:hover{
    background-color: #dddddd;
}
/* ---------------------------*/
/* Projects Page */
#addProject, #saveProject {
    color: whitesmoke;
    background-color: #18a0ac;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    float: right;
    font-size: 20px;
}
#addProject:hover, #saveProject:hover {
    font-size: 21px;
}
#imgLabel, #uploadImage {
    margin-left: 20px;
}
.project-info {
    background-color: whitesmoke;
    width: 75%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #343a40;
    border-radius: 4px;
    list-style-type: none
}
.delete-btn, .update-btn{
    float: right;
    margin: 3px;
}
/* --------------*/
/* Media Queries */
@media screen and (max-width: 950px) {
    .navbar {
        height: 150px;
    }
    #avatar{
        position: absolute;
        right: 100px;
        bottom: 30px;
    }
    
  }
/*---------------*/